annotated-types
anyio
asgiref
beautifulsoup4
certifi
charset-normalizer
colorama
deep-translator
distro
Django
exceptiongroup
gunicorn
h11
httpcore
httpx
idna
jiter
openai
packaging
pydantic
pydantic_core
pytz
requests
sniffio
soupsieve
sqlparse
tqdm
typing_inspect
typing_extensions
tzdata
urllib3
